<!DOCTYPE HTML">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Hello World</title>

  <!-- <link rel="stylesheet" href="style.css"/> -->
  <style></style>

  <!-- <script src="script.js"></script> -->
  <script></script>
</head>

<body>
    hello world!
    <div>
        The date is: <span style="font-weight: bold">{% now "jS F Y" %}</span>
    </div>
    <div>
        The time is: <span style="font-weight: bold">{% now "H:i:s" %}</span>
    </div>
</body>
</html>
